{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">get result price</button>
    {{ form_end(form) }}

    {% if result_price %}
        Result price is {{ result_price }}
    {% endif %}
{% endblock %}
